{% extends "layouts/main.html" %}

{% set pageName="Pay for pre-application meeting" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/pre-application/request-meeting"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Payment</h1>

    <p class="govuk-body">There is a fee to arrange a pre-application meeting.</p>

    <br>
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Fee breakdown</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pre-application meeting request fee</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total amount</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£150.00</td>
        </tr>
      </tbody>
    </table>
    
    <br>

    <form class="form" action="/pre-application/payment" method="post">
      {{ govukButton({
        text: "Pay and submit request"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
