{% extends "layouts/main.html" %}

{% set pageName="Request submitted" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Meeting request submitted",
      html: "Your reference number<br><strong>PRE-APP-12345</strong>"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We will review your request and contact you within 5 working days to confirm a date and time for the meeting.
    </p>

    <p class="govuk-body">
      After the meeting, we will provide you with written advice and a link to start your formal application.
    </p>

    <p class="govuk-body">
      <a href="/pre-application/outcome" class="govuk-link">Check outcome and start application (Simulation)</a>
    </p>

  </div>
</div>

{% endblock %}
