{% extends "layouts/main.html" %}

{% set pageName = "Sign in" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/sign-in" method="post">

      <h1 class="govuk-heading-l">Sign in to your account</h1>

      <p class="govuk-body">
        Sign in with your GOV.UK One Login to view the status of your Development Consent Order case.
      </p>

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email"
      }) }}

      {{ govukInput({
        label: {
          text: "Password"
        },
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "current-password"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}

      <p class="govuk-body">
        <a href="/create-account" class="govuk-link">Create an account</a> if you do not have one.
      </p>

    </form>

  </div>
</div>

{% endblock %}
